/* All styles in nested alphabetical order */

.login {
    background: black;
    color: white;
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.login.true {
    display: none;
}

.login-user-button {
    border: none;
    background: white;
    font-size: 18px;
    padding: 10px;
    margin: 0 5px;
    transition: .5s;
}

.login-user-button:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: .5s;
}